/target
etc/system-contracts/.yarn
etc/system-contracts/node_modules
etc/system-contracts/cache-zk
etc/system-contracts/artifacts-zk
etc/system-contracts/typechain-types
etc/system-contracts/.yarnrc.yml
etc/system-contracts/bootloader/build

etc/**/*.zbin
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

*.log
.cache