[submodule "contracts"]
	path = contracts
	url = https://github.com/matter-labs/era-contracts.git
[submodule "execution-apis"]
	path = execution-apis
	url = https://github.com/ethereum/execution-apis.git
